/*
Farben
Border
Schatten
Typografie
interne Layoutstruktur einer Komponente
Variationen durch Modifier (--)
*/


/*      Ce fichier contient les grand blocks comme le burger et les cards         */


/*      card        */

.card{
    max-width: var(--phone-card-width);
    background-color: var(--background-basic);
    border-radius: var(--medium-border);
    padding: var(--padding-24);
    color: var(--dark-green-accent-color);
    .infos{
        font-weight: 500;
    }
    img{
        box-shadow: var(--general-shadow);
    }
    box-shadow: var(--general-shadow);
}

.card-petname{
    font-size: var(--phone-pet-name);
}



/*      return button       */
.return-button{
    padding: var(--padding-8) var(--padding-16);
    background-color: var(--dark-green-accent-color);
    color: var(--white);
    display: flex;
    gap: var(--flex-gap-8);
    max-width: 116px;
    border-radius: var(--big-border);
    margin-top: var(--margin-60);
    margin-left: var(--margin-24);
}

.footer-button{
    display: block;
    font-size: var(--phone-footer-button);
    background-color: var(--background-basic);
    padding: var(--padding-16) var(--padding-32);
    color: var(--black);
    border: 1px var(--content-light-green) solid;
    max-width:  var(--phone-contact-button-width);
    border-radius: var(--big-border);
    margin-top: var(--margin-56);
    margin-bottom: var(--margin-56);
}

/*          input       */
.field__input{
    border-radius: var(--big-border);
    display: block;
    background-color: var(--white);
    padding: var(--padding-16);
    margin-bottom: var(--margin-32);

}
@media (max-width: 750px) {
    .field__input, .field__select{
        min-width: 100%;
    }
}



/*          label       */
.field__label{
    font-weight: 700;
    margin-bottom: var(--margin-16);
    display: block;
}

/*          textarea       */
.textarea{
    min-height: 200px;
    background-color: var(--white);
    min-width: 100%;
}



/*      footer      */

.general-footer{
    color: var(--white);
    background-color: var(--dark-green-accent-color);
    padding: var(--padding-56) var(--padding-24);
    font-size: var(--phone-legal);
}

.footer-title{
    font-size: var(--phone-footer-content);
    margin-bottom: var(--margin-24);
    font-weight: 700;
}




/*          arrows      */

.arrow_discover{
vertical-align: center;
}

.arrow_discover{
    transition: transform 0.3s ease;
}
 .link_discover:hover .arrow_discover{
     transform: translateX(5px); /* Pfeil bewegt sich beim Hover nach rechts */
 }
