/*
Farben
Border
Schatten
Typografie
interne Layoutstruktur einer Komponente
Variationen durch Modifier (--)
*/


/*      Ce fichier contient les grand blocks comme le burger et les cards         */


/*      burger      */

@media (max-width: 1199px) {
    #burger_menu, .burger_menu{
        grid-area: burger;
    }
    .nav__header h2, .logo_image, .skip{
        grid-area: logo;
    }
    .nav__container__header{
        grid-area: menu;
        margin-top: var(--margin-24);  /*16px*/
    }
    .nav__header{
        display: grid;
        grid-template-areas: "logo burger"
          "menu . ";
        grid-gap: 1fr;
        justify-content: space-between;
        align-items: center;
    }
    /*    .nav__item__header a{
            color: var(--white);
        }*/
    .nav__item__header{
        margin-bottom: var(--margin-8);  /*8px*/
        color: var(--white);
    }
    .header{
        width: 100% ; /* width complète */
        padding: 0.541666666666667em 1em;  /*13px 24px*/
    }
    .nav__header #burger_menu:not(:checked) ~ .nav__container__header, #burger_menu[type="checkbox"] {
        position: absolute;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
    }

    /*    BURGER Menu   */
    input[type="checkbox"]:checked ~ .nav__header {
        left: 0
    }



    /*Animation du X dans le Burger */
    .burger_menu path {
        transition: all .25s;
        overflow: auto;
    }
    input[type="checkbox"]:checked ~ .burger_menu {
        path:first-of-type {
            transform-origin: center;
            transform: rotate(45deg) translateY(calc(50% - 2px));
        }
        path:nth-of-type(2) {
            transform-origin: center;
            transform: scale(0);
        }
        path:last-of-type {
            transform-origin: center;
            transform: rotate(-45deg) translateY(calc(-50% + 2px));
        }
    }
}


/*    DESKTOP     */

@media (min-width: 1200px) {
#burger_menu, .burger_menu {
        display: none;
    }

    .header {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0.916666666666667em; /*22px*/
        padding-bottom: 0.916666666666667em; /*22px*/
        width: calc(100% - 10%); /* width complète */
    }

    .nav__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 1415px; /*1415px*/
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
}




/*      card        */

.card{
    background-color: var(--background-basic);
    border-radius: var(--medium-border);
    padding: var(--padding-24);
    color: var(--dark-green-accent-color);
    .infos{
        font-weight: 500;
    }
    img{
        box-shadow: var(--general-shadow);
    }
    box-shadow: var(--general-shadow);
}

.card-petname{
    font-size: var(--phone-pet-name);
}

@media (max-width: 999px) {
    .card {
        max-width: var(--phone-card-width);
    }
}

@media (min-width: 1000px) {
    .card img{
        width: 334px;
        height: 334px;
        object-fit: cover;
    }
    .card{
        min-width: auto;
    }
    .card-petname{
        font-size: var(--web-pet-name);
    }
}


/*      return button       */
.return-button{
    padding: var(--padding-8) var(--padding-16);
    background-color: var(--dark-green-accent-color);
    color: var(--white);
    display: flex;
    gap: var(--flex-gap-8);
    max-width: 116px;
    border-radius: var(--big-border);
    margin-top: var(--margin-60);
    margin-left: var(--margin-24);
    align-items: center;
}

/*      buttons       */

.public-button{
    padding: var(--padding-16) var(--padding-24);
    font-weight: 500;
    background-color: var(--dark-green-accent-color);
    color: var(--white);
}

.footer-button{
    display: block;
    font-size: var(--phone-footer-button);
    background-color: var(--background-basic);
    padding: var(--padding-16) var(--padding-32);
    color: var(--black);
    border: 1px var(--content-light-green) solid;
    max-width:  var(--phone-contact-button-width);
    border-radius: var(--big-border);
    margin-top: var(--margin-56);
    margin-bottom: var(--margin-56);
    max-height: var(--height-52);
}


/* header */

.header-general{
    background-color: var(--dark-green-accent-color);
    color: var(--white);
}

/* homepage */

.homepage-title{
    font-size: var(--homepage-title-phone);
    font-weight: 700;
    color: var(--dark-green-accent-color);
}


/*          input       */
.field__input{
    border-radius: var(--big-border);
    display: block;
    background-color: var(--white);
    padding: var(--padding-16);
    margin-bottom: var(--margin-32);

}
@media (max-width: 750px) {
    .field__input, .field__select{
        min-width: 100%;
    }
}



/*          label       */
.field__label{
    font-weight: 700;
    margin-bottom: var(--margin-16);
    display: block;
}

/*          textarea       */
.textarea{
    min-height: 200px;
    background-color: var(--white);
    min-width: 100%;
}



/*      footer      */

.general-footer{
    color: var(--white);
    background-color: var(--dark-green-accent-color);
    padding: var(--padding-56) var(--padding-24);
    font-size: var(--phone-legal);
}


.informations-footer p{
    font-size: var(--phone-footer-content);
}

.footer-title{
    font-size: var(--phone-footer-content);
    margin-bottom: var(--margin-24);
    font-weight: 700;
}




/*          arrows      */

.arrow_discover{
vertical-align: center;
}

.arrow_discover{
    transition: transform 0.3s ease;
}
 .link_discover:hover .arrow_discover{
     transform: translateX(5px); /* Pfeil bewegt sich beim Hover nach rechts */
 }


.link_discover, .arrow_discover{
    z-index: 15;
}



 /*          page-title          */

.page-title{
    padding-top: var(--padding-60);
    padding-bottom: var(--padding-32);
}




@media (max-width: 999px) {
    .header-general{
        padding: var(--padding-8) var(--padding-24);
    }
    .big-logo{
        display: none;
    }
}


@media (min-width: 1000px) {
    .page-title{
        padding-top: var(--padding-150);
        padding-bottom: var(--padding-56);
    }
    .field__label{
        font-size: var(--web-font-size);
    }
    .contact-form-btn{
        margin-top: var(--margin-56);
    }
    .field__input{
        font-size: var(--web-font-size);
        margin-bottom: 0;
    }
    .general-footer, .footer-title, .legal-information, .informations-footer p{
        font-size: var(--web-footer-content);
    }
    .footer-button{
        font-size: var(--web-footer-button);
        max-height: var(--height-55);
        max-width: var(--max-w-footer-button-web);
        margin-top: 0;
    }
    .general-footer>*{
        max-width: var(--max-w-footer-web);
        margin-right: auto;
        margin-left: auto;
    }

    .header-general{
        min-height: var(--height-80);
        padding-top: var(--padding-10);
        padding-bottom: var(--padding-10);
    }

    .small-logo{
        display: none;
    }
    .nav__container__header{
        font-size: var(--web-nav-links);
    }
}


.filters{
    flex-direction: row;
    align-items: end;

}


.select label{
    color: var(--dark-green-accent-color);
}

@media (max-width: 750px) {
    .search-input{
        min-width: 100%;
    }
}
@media (min-width: 750px){
    .search-input{
        max-width: var(--max-w-search-web);
    }
}

@media (min-width: 1000px) {
    .select label{
        font-size: var(--web-filter-options);
    }
    .select, .search-input{
        font-size: var(--web-button-font-size);
    }
    .filters button{
        font-size: var(--web-button-font-size);
    }

    .animal-description-img{
        .animal-description{
            max-width: var(--max-w-animal-description-web);
        }
        .page-title{
            padding-bottom: 0;
            margin-top: 0;
            padding-top: 0;
            margin-bottom: var(--margin-32);
        }
        flex-direction: row;
        justify-content: space-between;

        .animal-img{
            height: 400px;
            width: auto;
        }

    }
    .animal-section{
        margin-top: var(--margin-56);
        margin-bottom: var(--margin-56);

        .fs-texte{
            font-size: var(--web-info);
        }
    }
    .return-button{
        max-width: var(--width-150);
        margin-top: var(--margin-120);
        font-size: var(--web-button-font-size);

    }
    .animal-state{
        font-size: var(--web-info);

    }

    .title-text-img{
        justify-content: center;
        flex-direction: row-reverse;
        h2{
            font-size: 48px;
        }
        p{
            max-width: 643px;
        }
        img{
            width: 525px;
            height: auto;
        }
    }
}

@media (min-width: 1000px) and (max-width: 1199px) {
.animal-img{
    margin-top: var(--margin-32);
}
.animal-description{
    margin-right: var(--margin-56);
}
}

.animal-section{
    margin-top: var(--margin-32);
    margin-bottom: var(--margin-32);
}

@media (min-width: 1059px) {
   .filters{
       margin-bottom: 56px;
   }


    .more-info-section, .section{
        padding-left: 0;
        padding-right: 0;
    }
}

.front-image{

}

@media (min-width: 1000px) {
    .front-image{
        height: 908px;
        width: auto;
        object-fit: cover;
        max-width: 50%;
    }
    .first-section{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        padding-bottom: 0;
        justify-content: flex-end;

        .homepage-title{
            font-size: 72px;
        }

        div{
            max-width: 708px;
        }
    }
    .title-text{
        align-content: center;
    }
    .title-text .page-title, .adoption-section{
        padding-top: 0;
    }
    .more-info-section{
        align-items: center;
        flex-direction: row;
        padding-left: 0;
        padding-right: 0;

        h2{
            font-size: 48px;
            text-align: start;
            padding-top: 0;
        }

        img{
            width: 525px;
            height: auto;

        }

        p{
            max-width: 643px;
        }
    }
    .public-button{
        font-size: 24px;
        display: block;
        max-width: 275px;
        padding-right: 32px;
        padding-left: 32px;
        text-align: center;
    }
    .home-adoption-section{
        padding-top: 0;
    }
}



.public-button:hover, .footer-button{
        box-shadow: var(--general-shadow-hover);
}

.nav__header{
    box-shadow: var(--public-navbar-shadow);
}


.legal-information p{
    font-size: var(--phone-legal);
}

.textarea{
    padding: var(--padding-16);
}

.card{
    position: relative;
}

.card-link{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.backgr-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: auto;
}

.login-section{
margin-left: var(--margin-24);
margin-right: var(--margin-24);

        p, a{
            font-size: var(--text-size-phone);
        }

    button{
        background-color: var(--dark-green-accent-color);
        width: 100%;
        padding-top: var(--padding-16);
        padding-bottom: var(--padding-16);
        margin-top: var(--margin-32);
    }
    input{
        background-color: var(--white);
        margin-bottom: var(--margin-32);
    }
    .label{
        margin-bottom: var(--margin-8);
    }
}

.password-forgotten{
    margin-bottom: var(--margin-24);
}


@media (max-width: 999px) {
    .remember_me, .login-section input{
        font-size: var(--text-size-phone);
    }
}

@media (min-width: 550px) {
    .login-section{
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1000px) {
    .login-section{
        label, p, a{
            font-size: var(--web-admin-text-size);
        }
        input{
            font-size: var(--web-admin-input-size);
        }
        button{
            font-size: var(--web-button-font-size);
        }

    }
}

#remember_me{
 width: var(--w-h-checkbox);
    height: var(--w-h-checkbox);
    border-radius: var(--checkbox-border);
}


@media (min-width: 550px) {
    .login-layout{
        display: flex;height: calc(100vh - 80px);
        align-items: center;
    }
}

@media (max-width: 549px) {
    .login-layout{
            transform: translateY(15%);
    }
}
